:root {
    --primary: #0069b3;
    --secondaryOrange: #de5d0c;
    --secondaryBlue: #024a7b;
}

.container-exp {
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: max-content;
    margin: 50px 0 0px 0;
    padding: 30px 60px;
}

.top-exp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-right-exp {
    display: flex;
    align-items: center;
}

.top-right-exp div {
    margin: 0 30px;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.top-right-exp div:hover {
    filter: brightness(90%);
    transition: 0.4s;
}

.top-right-exp div:active {
    transform: scale(0.96);
    transition: 0.4s;
}

.top-right-exp div:nth-child(2) {
    background-color: var(--primary);
}

.subtitle-exp {
    color: var(--primary);
    font-size: 20px;
}

.title-exp {
    font-size: 32px;
    margin-top: 16px;
}

.bottom-exp {
    width: 100vw;
    overflow-x: auto;
    transition: 1s;
}

.wrap-bottom-exp {
    width: 100vw;
    padding-bottom: 50px;
    transition: 1s;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.wrap-bottom-exp::-webkit-scrollbar {
    display: none;
}

.card-exp {
    width: 20%;
    margin-bottom: 60px;
    height: max-content;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-exp a {
    text-decoration: none;
    color: black;
}

.card-top-exp {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: contain;
}

.card-top-exp img {
    width: auto;
    height: 100%;
}

.card-bottom-exp {
    padding: 20px;
    background-color: rgb(250, 250, 250);
}

.title-bottom-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-bottom-exp h4 {
    width: 70%;
    font-size: 22px;
}

.title-bottom-exp p {
    color: var(--secondaryOrange);
    font-weight: bold;
}

.rating-exp {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.card-bottom-exp small {
    color: rgb(119, 119, 119);
}

.rating-exp img {
    margin-left: 10px;
    width: 20px;
}

.card-exp:hover {
    transition: 0.4s;
    filter: brightness(90%);
    cursor: pointer;
}

.card-exp:active {
    transform: scale(0.97);
    transition: 0.3s;
}

.left-exp {
    border: 1px solid rgb(196, 196, 196);
}

@media screen and (max-width: 750px) {
    .container-exp {
        padding: 0px;
        width: 100vw;
    }

    .top-exp {
        display: block;
    }

    .top-right-exp {
        margin-left: -38px;
    }

    .top-right-exp div {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    .rating-exp {
        display: none;
    }

    .card-bottom-exp small {
        display: none;
    }

    .card-top-exp {
        height: 65%;
    }

    .card-bottom-exp {
        padding: 10px 14px;
    }

    .card-bottom-exp .title-bottom-exp {
        display: block;
    }

    .title-bottom-exp h4 {
        width: 94%;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .wrap-bottom-exp {
        padding-right: 0;
        width: 100vw;
    }

    .title-exp {
        font-size: 28px;
    }

    .card-exp {
        width: 88vw;
        margin-left: auto;
        margin-right: auto;
    }

    .card-top-exp img {
        width: 100%;
        height: auto;
    }
}
