:root {
    --primary: #0069b3;
    --secondaryOrange: #DE5D0C;
    --secondaryBlue: #024a7b;
}

.footer-hdm a {
    text-decoration: none;
}

.footer-hdm {
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 330px;
    padding: 0px 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    clip-path: polygon(30% 8%, 75% 0%, 100% 10%, 100% 100%, 0 100%, 0 0);
}

.wrap-icon-hdm {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.wrap-icon-hdm .icons-hdm {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 1000px;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.29);
}

.wrap-icon-hdm .icons-hdm img {
    width: 50%;
    height: 100%;
}

.footer-left-hdm {
    width: 30vw;
}

.footer-right-hdm {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.group-list-hdm {
    width: 33%;
    color: white;
}

.group-list-hdm img {
    width: 20px;
    background-color: white;
    border-radius: 9999px;
    width: 30px;
    height: 30px;
    display: flex;
    box-sizing: border-box;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.group-list-hdm h3 {
    font-weight: 600;
}

.group-list-hdm li {
    list-style: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: rgb(219, 219, 219);
}

.group-list-hdm li:hover {
    filter: brightness(60%);
}

.group-list-hdm li:active {
    transform: scale(0.98);
}

.ornamen-hdm {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 756px) {
    .footer-hdm {
        display: block;
        padding: 60px 40px;
        height: max-content;
    }

    .footer-right-hdm {
        display: block;
        padding-top: 40px;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .group-list-hdm {
        color: white;
        width: 100%;
    }

    .group-list-hdm ul li {
        width: 90%;
        font-size: 14px;
    }

    .copyright {
        left: 0;
        font-size: 12px;
    }
}
