:root {
  --primary: #0069b3;
  --secondaryOrange: #de5d0c;
  --secondaryBlue: #024a7b;
}

.wrapper-products {
  position: relative;
  width: 90vw;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  padding: 30px;
}

.wrapper-downloads {
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 20px;
  z-index: 4444;
}

.btn-download-file {
  width: 40px;
  height: 40px;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.2s;
  padding: 3px;
  box-sizing: border-box;
}

.btn-download-file:nth-child(1) img,
.btn-download-file:nth-child(2) img {
  width: 40%;
}

.btn-download-file:nth-child(3) img {
  width: 50%;
}

.file {
  background-color: rgb(169, 169, 255);
}

.excel {
  background-color: rgb(157, 255, 157);
}

.pdf {
  background-color: rgb(255, 164, 164);
}

.btn-download-file:hover {
  transition: 0.2s;
  filter: brightness(90%);
}

.btn-download-file:active {
  transition: 0.2s;
  transform: scale(0.94);
}

.download-text {
  font-size: 12px;
  color: rgb(87, 87, 87);
  position: relative;
}

.info-list-products {
  width: 100%;
  display: flex;
  background-color: rgb(237, 237, 255);
  border: 1px solid rgb(231, 231, 231);
  color: rgb(66, 66, 66);
  border-radius: 6px;
  padding: 10px 14px;
  align-items: center;
  justify-content: space-between;
}

.wrapper-btn-info {
  display: flex;
  align-items: center;
}

.child-info {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(95, 95, 95);
  transition: 0.2s;
  border-radius: 6px;
  transform: rotate(0deg); /* Sudut rotasi saat diklik */
}

.rotated {
  transform: rotate(180deg); /* Sudut rotasi saat diklik */
}

.child-info:active {
  transition: 0.2s;
  transform: scale(0.96);
}

.child-info:hover {
  filter: brightness(90%);
  transition: 0.2s;
}

.child-info img {
  width: 16px;
}

.child-info:nth-child(3) img {
  width: 12px;
}

.wrapper-list-products {
  width: 100%;
  background-color: rgb(237, 237, 255);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 32px;
  height: max-content;
  transition: 0.3s;
  overflow-y: auto;
}

.wrapper-list-products-block {
  width: 100%;
  background-color: rgb(237, 237, 255);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 32px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: max-content;
  transition: 0.3s;
  overflow-y: auto;
}

.wrapper-list-products::-webkit-scrollbar {
  width: 8px; /* Atur lebar scrollbar sesuai keinginan Anda */
}

.wrapper-list-products::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna thumb scrollbar */
  border-radius: 4px; /* Bentuk thumb scrollbar */
}

.open {
  height: 20px;
  transition: 0.3s;
}

.child-product {
  width: 96%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 20px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.child-product-block {
  width: 30%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.child-product-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(172, 172, 172);
  justify-content: center;
  overflow: hidden;
}

.child-product-left img {
  width: auto;
  height: auto;
}

.child-product-right {
  width: 70%;
  height: 100%;
  padding: 30px 32px;
}

.child-product-right h1 {
  font-size: 26px;
  margin-top: 20px;
}

.child-product-right small {
  border-radius: 999px;
  background-color: var(--secondaryOrange);
  color: white;
  margin-top: 12px;
  padding: 3px 12px;
}

.child-product-right p,
.child-product-right small,
.child-product-right h4 {
  font-weight: normal;
}

.child-product-right p {
  font-size: 14px;
  line-height: 2em;
  margin-top: 12px;
  color: rgb(151, 151, 151);
}

.child-product-left-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.child-product-left-block img {
  width: auto;
  height: auto;
}

.child-product-right-block {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.child-product-right-block h1 {
  font-size: 26px;
  margin-top: 20px;
}

.child-product-right-block small {
  border-radius: 999px;
  background-color: var(--secondaryOrange);
  color: white;
  margin-top: 10px;
  position: absolute;
  bottom: 30px;
  right: 10px;
  padding: 3px 12px;
  width: max-content;
}

.child-product-right-block p,
.child-product-right-block small,
.child-product-right-block h4 {
  font-weight: normal;
}

.child-product-right-block p {
  font-size: 14px;
  line-height: 2em;
  display: none;
  margin-top: 12px;
  color: rgb(151, 151, 151);
}

.wrapper-detail-product {
  position: relative;
  width: 90vw;
  margin-top: 120px;
  margin-bottom: 80px;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  margin-right: auto;
  height: max-content;
  border: 1px solid rgb(240, 240, 240);
  padding: 20px;
  box-shadow: 0px 0.9px 1.8px rgba(0, 0, 0, 0.002), 0px 2.1px 4.1px rgba(0, 0, 0, 0.004), 0px 3.6px 7.2px rgba(0, 0, 0, 0.005),
    0px 5.8px 11.4px rgba(0, 0, 0, 0.005), 0px 8.9px 17.6px rgba(0, 0, 0, 0.006), 0px 13.9px 27.4px rgba(0, 0, 0, 0.007), 0px 23px 45.5px rgba(0, 0, 0, 0.008),
    0px 46px 91px rgba(0, 0, 0, 0.01);
  border-radius: 12px;
}

.child-detail-info {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.2s;
  border-radius: 6px;
  transform: rotate(0deg); /* Sudut rotasi saat diklik */
}

.rotated {
  transform: rotate(180deg); /* Sudut rotasi saat diklik */
}

.child-detail-info:active {
  transition: 0.2s;
  transform: scale(0.96);
}

.child-detail-info:hover {
  filter: brightness(90%);
  transition: 0.2s;
}

.child-detail-info img {
  width: 20px;
}

.child-detail-product {
  width: 96%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 20px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.child-detail-product-left {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.child-detail-product-left img {
  width: 80%;
  height: auto;
}

.child-detail-product-right {
  width: 60%;
  height: 100%;
  padding: 30px 32px;
}

.child-detail-product-right h1 {
  font-size: 32px;
  margin-top: 20px;
}

.child-detail-product-right small {
  border-radius: 999px;
  background-color: var(--secondaryOrange);
  color: white;
  margin-top: 14px;
  padding: 3px 12px;
}

.child-detail-product-right p,
.child-detail-product-right small,
.child-detail-product-right h4 {
  font-weight: normal;
}

.child-detail-product-right p {
  font-size: 14px;
  line-height: 2em;
  margin-top: 12px;
  color: rgb(151, 151, 151);
}

.prize {
  width: max-content;
  padding: 10px 30px;
  margin: 12px 0;
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrapper-detail-product ul li {
  list-style: none;
  margin: 10px 0;
  font-weight: normal;
  color: var(--secondaryOrange);
}

.section-tabs {
  width: 100vw;
  padding: 0 80px;
  z-index: 22;
  margin-top: 0px;
  margin-bottom: 100px;
}

.tabs {
  display: flex;
  margin-top: 40px;
}

.tab-button {
  padding: 12px 0;
  width: 33%;
  background-color: #ebebeb;
  text-align: center;
  color: #333;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tab-button.active {
  background-color: var(--primary);
  color: white;
}

.tab-button:hover {
  transition: 0.2s;
  filter: brightness(92%);
}

.tab-content {
  width: 98.7%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px 0px;
}

.tab-content h2 {
  font-size: 32px;
  margin: 40px;
}

.tab-content p {
  font-size: 14px;
  line-height: 2.2em;
  margin-top: 20px;
  color: rgb(121, 121, 121);
}

.tab-content li {
  list-style: circle;
}

.tab-content ul {
  list-style: circle;
}

.tab-item {
  display: none;
  text-align: justify;
}

.tab-item.active {
  display: block;
}

.square {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
  width: 100%;
}

.info-detail {
  display: flex;
  position: relative;
  top: 100px;
  left: 60px;
  background-color: white;
  width: max-content;
  border-radius: 10000px;
  padding: 8px 20px 8px 0;
  /* border: 1px solid black; */
  align-items: center;
  color: rgb(41, 41, 41);
  font-size: 14px;
}

.info-detail p {
  margin: 0 10px;
}

.info-detail a {
  color: rgb(115, 117, 255);
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .info-detail {
    left: 12px;
    font-size: 8px;
  }

  .child-detail-product-right h4 {
    display: none;
  }

  .child-detail-product {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .child-product-block {
    width: 100%;
  }

  .wrapper-detail-product {
    margin-bottom: 30px;
  }

  .child-detail-product ul {
    display: none;
  }

  .child-detail-product-left {
    border: none;
    width: 100%;
  }

  .child-detail-product-right {
    width: 100%;
    padding: 0;
  }

  .section-tabs {
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .tab-button {
    font-size: 10px;
  }

  .tab-content {
    padding: 20px 10px;
  }

  .tab-content h2 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 14px;
  }

  .tab-content p {
    width: 98%;
  }

  .wrapper-products {
    padding: 0;
  }

  .info-list-products {
    width: 94vw;
    font-size: 13px;
  }

  .child-info {
    display: none;
  }

  .wrapper-list-products {
    background-color: transparent;
    height: max-content;
  }

  .child-product {
    flex-direction: column;
    margin: 0 0 30px 0;
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
  }

  .child-product-left {
    width: 100%;
    border: none;
  }

  .child-product-right {
    width: 100%;
    border: none;
    padding: 14px;
  }

  .child-product-right p {
    width: 96%;
  }

  .child-product-right h4 {
    font-weight: bold;
  }

  #block,
  #grid {
    display: none;
  }
}
